@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Statistics Page";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #25232A;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .menu-icon {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .menu-icon img {
            width: 50px;
            height: 50px;
        }

        .user-icon {
            width: 70px;
            height: 70px;
            cursor: pointer;
        }

        .user-icon img {
            width: 70px;
            height: 70px;
        }

        .page-title-container {
            width: 240px;
            height: 80px;
            background: rgba(137, 26, 26, 0);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            border: 5px solid #984BBC;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .page-title {
            font-size: 30px;
            color: white;
            margin-left: 10px;
        }

        .navTab {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #4E4747;
            width: 500px;
            height: 100vh;
            z-index: 3;
            display: flex;
            flex-direction: column;
        }

        .navItem {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .navTabImg {
            margin-left: 60px;
            margin-top: 40px;
            width: 80px;
            height: 80px;
            display: block;
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
        }

        .navItem span {
            margin-left: 35px;
            margin-top: 40px;
            color: #FFFFFF;
            font-size: 36px;
        }

        .alphaCoverage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: black;
            opacity: 0.55;
            z-index: 2;
        }

        .copyright {
            position: absolute;
            color: #FFFFFF;
            font-size: 36px;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            width: 100%;
            z-index: 4;
        }

        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }

        .userTab {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #4E4747;
            width: 570px;
            height: 60vh;
            z-index: 3;
            display: flex;
            flex-direction: column;
        }

        .top_elements {
            margin-top: 1.55rem;
        }

        .user-icon-in-tab {
            top: 0;
            width: 70px;
            height: 70px;
            margin-left: 11.3rem;
        }

        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }

        .username {
            color: #FFFFFF;
            font-size: 24px;
            margin-left: 4rem;
        }

        .coins-image {
            width: 26px;
            height: 26px;
            margin-left: 4rem;
            margin-bottom: 0.6rem;
        }

        .coins-text {
            color: #FFFFFF;
            font-size: 28px;
            margin-left: 0.5rem;
        }

        .email_div {
            margin-top: 5rem;
            margin-left: 4rem;
        }

        .email {
            color: #FFFFFF;
            font-size: 28px;
        }

        .exit-block {
            margin-left: 4rem;
            margin-top: 10.5vh;
        }

        .exit-image {
            width: 48px;
            height: 48px;
            margin-bottom: 0.6rem;
        }

        .exit-text {
            color: #FFFFFF;
            font-size: 28px;
            margin-left: 0.5rem;
        }

        .buttons-body {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 30px;
            margin-left: 350px;
        }

        .buttons-body .week-button,
        .buttons-body .month-button{
            width: 150px;
            height: 50px;
            background: #353535;
            border-radius: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-right: 90px;
        }

        .buttons-body .year-button{
            width: 150px;
            height: 50px;
            background: #7A7373;
            border-radius: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-right: 90px;
        }

        .chart{
            width: 800px;
            max-width: 850px;
            height: 400px;
            max-height: 450px;
            margin-left: 12rem;
            margin-top: 4rem;
        }

        .exit-block button {
            background-color: inherit;
            border: none;
            padding: 0;
            cursor: pointer;
        }

    </style>
</head>

<body>
    <div>
        <div class="navTab hidden" id="NavTab">
            <div>
                <a class="navItem" asp-controller="Home" asp-action="Index" asp-all-route-data='new Dictionary<string, string> { { "period", "month" } }'>
                    <img class="navTabImg" src="~/images/home_image.png" alt="Home Icon" />
                    <span>Home</span>
                </a>
            </div>
            <div>
                <a class="navItem" asp-controller="Statistics" asp-action="Statistics">
                    <img class="navTabImg" src="~/images/statistics_image.png" alt="Statistics Icon" />
                    <span>Statistics</span>
                </a>
            </div>
            <div class="navItem">
                <a class="navItem" asp-controller="Focus" asp-action="Focus">
                    <img class="navTabImg" src="~/images/focus_image.png" alt="Focus Icon" />
                    <span>Focus</span>
                </a>
            </div>
            <div class="copyright">
                <span>© Time&amp;Tune</span>
            </div>
        </div>
        <div class="alphaCoverage hidden" id="coverage" onclick="toggleVisibility()"></div>

        <div class="header">
            <div class="menu-icon">
                <img src="~/images/menu_icon.png" alt="Menu Icon" onclick="toggleVisibility()" />
            </div>
            <div class="page-title-container">
                <div class="page-title">Statistics</div>
            </div>
            <div class="user-icon" onclick="toggleVisibility1()">
                <img src="~/images/user_image.png" alt="User Icon" />
            </div>
        </div>

        <div class="userTab hidden" id="UserTab">
            <div class="top_elements">
                <span class="username">@User.Identity.Name</span>
                <img class="user-icon-in-tab" src="~/images/user_image.png" alt="User Icon" />
            </div>
            <div>
                <img class="coins-image" src="~/images/coins_image.png" alt="Coins Icon" />
                <span class="coins-text">@ViewBag.CoinsAmount</span>
            </div>
            <div class="email_div">
                <span class="email">@ViewBag.Email</span>
            </div>
            <form asp-controller="Account" asp-action="Logout" method="post">
                <div class="exit-block">
                    <button type="submit">
                        <img class="exit-image" src="~/images/exit_image.png" alt="Exit Icon" />
                        <span class="exit-text">Exit</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="alphaCoverage hidden" id="coverage1" onclick="toggleVisibility1()"></div>

        <div class="buttons-body">
            <div class="week-button" id="weekBtn" onclick="WeekChart()">
                WEEK
            </div>
            <div class="month-button" id="monthBtn" onclick="MonthChart()">
                MONTH
            </div>
            <div class="year-button" id="yearBtn" onclick="YearChart()">
                YEAR
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <canvas class="chart" id="statisticsChart"></canvas>

    </div>

    <script>

        function toggleVisibility() {
            var NavTab = document.getElementById('NavTab');
            var coverage = document.getElementById('coverage');

            if (NavTab.classList.contains('hidden')) {
                NavTab.classList.remove('hidden');
                NavTab.classList.add('visible');
            } else {
                NavTab.classList.remove('visible');
                NavTab.classList.add('hidden');
            }

            if (coverage.classList.contains('hidden')) {
                coverage.classList.remove('hidden');
                coverage.classList.add('visible');
            } else {
                coverage.classList.remove('visible');
                coverage.classList.add('hidden');
            }
        }

        function toggleVisibility1() {
            var UserTab = document.getElementById('UserTab');
            var coverage = document.getElementById('coverage1');

            if (UserTab.classList.contains('hidden')) {
                UserTab.classList.remove('hidden');
                UserTab.classList.add('visible');
            } else {
                UserTab.classList.remove('visible');
                UserTab.classList.add('hidden');
            }

            if (coverage.classList.contains('hidden')) {
                coverage.classList.remove('hidden');
                coverage.classList.add('visible');
            } else {
                coverage.classList.remove('visible');
                coverage.classList.add('hidden');
            }
        }

        var ctx = document.getElementById('statisticsChart').getContext('2d');
        var gradient = ctx.createLinearGradient(0, 0, 0, 400);
        gradient.addColorStop(1, '#7F22AB');
        gradient.addColorStop(0, '#6D6770');

        var yearLabels = @Html.Raw(Json.Serialize(ViewBag.YearDates));
        var yearData = @Html.Raw(Json.Serialize(ViewBag.YearCompletedTasks));

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: yearLabels,
                datasets: [{
                    label: 'Completed Tasks',
                    data: yearData,
                    backgroundColor: gradient,
                    borderColor: '#575757',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        ticks: {
                            color: '#FFFFFF' // X axis tick color
                        },
                        grid: {
                            color: 'rgba(0, 0, 0, 0)' // X axis grid line color
                        }
                    },
                    y: {
                        ticks: {
                            color: '#FFFFFF' // Y axis tick color
                        },
                        grid: {
                            color: 'rgba(0, 0, 0, 0)' // Y axis grid line color
                        },
                        beginAtZero: true
                    }
                }
            }
        });

        function WeekChart() {
            var weekBtn = document.getElementById('weekBtn');
            var monthBtn = document.getElementById('monthBtn');
            var yearBtn = document.getElementById('yearBtn');
            
            weekBtn.style.backgroundColor = '#7A7373';
            monthBtn.style.backgroundColor = '#353535';
            yearBtn.style.backgroundColor = '#353535';

            var weekLabels = @Html.Raw(Json.Serialize(ViewBag.WeekDates));
            var weekData = @Html.Raw(Json.Serialize(ViewBag.WeekCompletedTasks));

            myChart.data.labels = weekLabels;
            myChart.data.datasets[0].data = weekData;

            myChart.update();
        }

        function MonthChart() {
            var weekBtn = document.getElementById('weekBtn');
            var monthBtn = document.getElementById('monthBtn');
            var yearBtn = document.getElementById('yearBtn');

            weekBtn.style.backgroundColor = '#353535';
            monthBtn.style.backgroundColor = '#7A7373';
            yearBtn.style.backgroundColor = '#353535';

            var monthLabels = @Html.Raw(Json.Serialize(ViewBag.MonthDates));
            var monthData = @Html.Raw(Json.Serialize(ViewBag.MonthCompletedTasks));

            myChart.data.labels = monthLabels;
            myChart.data.datasets[0].data = monthData;

            myChart.update();
        }

        function YearChart() {
            var weekBtn = document.getElementById('weekBtn');
            var monthBtn = document.getElementById('monthBtn');
            var yearBtn = document.getElementById('yearBtn');

            weekBtn.style.backgroundColor = '#353535';
            monthBtn.style.backgroundColor = '#353535';
            yearBtn.style.backgroundColor = '#7A7373';

            var yearLabels = @Html.Raw(Json.Serialize(ViewBag.YearDates));
            var yearData = @Html.Raw(Json.Serialize(ViewBag.YearCompletedTasks));

            myChart.data.labels = yearLabels;
            myChart.data.datasets[0].data = yearData;

            myChart.update();
        }

    </script>

</body>
</html>